<!DOCTYPE html>
<html>
<head>
    <title>Chat Groups and Users</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        /* base style */
        * {
        margin: 0;
        font-family: "Quicksand";
        color: #333;
        }

        .chat-groups-users {
        max-width: 400px;
        margin-top: 100px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }

        .chat-groups-users h1 {
        font-size: 20px;
        color: #f1356d;
        margin-bottom: 30px;
        }

        .chat-groups-users h2 {
        font-size: 20px;
        color: #f1356d;
        margin-bottom: 30px;
        }

        .chat-groups-users ul {
            width: 50%;
            margin-left: 25%;
        }

        .chat-groups-users a {
        text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="chat-groups-users">
        <h1>Welcome to the Chat Page</h1></br>
        <h1>Chose a Group to chat in or a User to chat with</h1></br>
        <h2>Chat Groups</h2>
        <ul>
            <% chatGroups.forEach(group => { %>
                <li class="js-group" data-group-id="<%= group.id %>"><%= group.desc %></li>
            <% }); %>
        </ul>

        <h2>Users</h2>
        <ul>
            <% usersData.forEach(user => { %>
                <li class="js-user" data-user-id="<%= user.id %>">
                    <a href="#" data-user-id="<%= user.id %>"><%= user.username %></a>
                </li>
            <% }); %>
        </ul>
    </div>
    <script>
        const userList = document.querySelectorAll('.js-user');

        userList.forEach(user => {
            user.addEventListener('click', (event) => {
                event.preventDefault();
    
                const userId = user.getAttribute('data-user-id');
                localStorage.setItem('userId', userId);

                window.location.href = '/chatPage';
    
                // window.location.href = `/chatPage?userId=${userId}`;
            });
        });
    </script>
</body>
</html>